<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="5">
<parameter name="url" value="http://leaftaps.com/opentaps/"></parameter>
  <test thread-count="5" name="Test" parallel="classes" >
    <classes>
   
	 <class name="week8.day1.assignments.testcases.LoginTC"/>
      <class name="week8.day1.assignments.testcases.CreateLeadTC"/>
  	  <class name="week8.day1.assignments.testcases.MergeLeadTC"/>
      <class name="week8.day1.assignments.testcases.EditLeadTC"/>
     <class name="week8.day1.assignments.testcases.DeleteLeadTC"/>
        <class name="week8.day1.assignments.testcases.DuplicateLeadTC"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
